<div id='main-container' class='container-fluid'>
  <div class='row'>
    <div id='sidebar' class='col-xs-3'>

      <h1>Blue Origin Reservation</h1>
      <p>Please enter all your information before be able to book our teleporters</p>
      </br>
      </br>

      <%= form_for(@teleporter, html: {class: 'form-horizontal'}) do |teleporter| %>
        <fieldset>
          <legend>Reservations</legend>

          <% if (@user.errors.any? || @schedule.errors.any? || @teleporter.errors.any?) %>
            <div class='error_explanation alert alert-warning'>
              <ul>
                  <% @user.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                  <% end %>
                  <% @schedule.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                  <% end %>
                  <% @teleporter.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                  <% end %>
              </ul>
            </div>
          <% end %>

          <%= fields_for @user do |user| %>
            <div class='form-group'>
              <%= user.label(:user, 'Name', class: 'col-lg-2 control-label') %>
              <div class='col-lg-10'>
                <%= user.text_field(:name, placeholder: 'Your name', class: 'form-control') %>
              </div>
            </div>
          <% end %>

          <%= fields_for @schedule do |schedule| %>
            <div class='form-group'>
              <%= schedule.label(:departure, 'Departure', class: 'col-lg-2 control-label') %>
              <div class='col-lg-10'>
                <%= schedule.collection_select(:departure_id, City.all, :id, :name, {}, {class: 'form-control'}) %>
              </div>
            </div>
            <div class='form-group'>
              <%= schedule.label(:arrival, 'Arrival', class: 'col-lg-2 control-label') %>
              <div class='col-lg-10'>
                <%= schedule.collection_select(:arrival_id, City.all, :id, :name, {}, {class: 'form-control'}) %>
              </div>
            </div>
            <div class='form-group'>
              <%= schedule.label(:date, 'Date', class: 'col-lg-2 control-label') %>
              <div class='col-lg-10'>
                <%= schedule.text_field(:date, class: 'form-control datepicker') %>
              </div>
            </div>
          <% end %>

          <div class='form-group'>
            <div class='col-lg-10 col-lg-offset-2'>
              <%= teleporter.submit('Book', class: 'btn btn-success') %>
            </div>
          </div>

        </fieldset>
      <% end %>

    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: 'alert alert-success' %>
    <% end %>
  
    </div>

    <%= javascript_tag do %>
      window.cities = <%=raw City.all.to_json %>;
    <% end %>
    <div id='sidebar' class='col-xs-9'>
      <div id='world-map'></div>
    </div>
  </div>
</div>